logging:
    stdout: True
    filename: load_all_types_random.log
    lvl: INFO

elastic:
    es_scheme: http
    es_host: localhost
    es_port: 9200
    es_user: elastic
    es_pass: secret
    index_name: all_types_random-1
    
generation:
    n_documents: 1000
    id_offset: 0


